
include ../mixins/navbar.pug
include ../mixins/cover.pug
include ../mixins/home-btn.pug
include ../mixins/section-center.pug


include ../mixins/facebook.pug
include ../mixins/twitter.pug
include ../mixins/instagram.pug


<!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
+navbar



header 
    
    .min-h-screen.bg-no-repeat.bg-center.bg-cover.bg-fixed.relative(
        class="flex flex-col justify-center items-center"
        style="background-image: url('/images/main-bcg.jpeg')"
    )
        +cover("bg-gradient-to-r from-gray-900/60 via-transparent to-gray-900/60")
            
        h1.text-4xl.text-center(class="children:mb-3") 
            
            .font-ghotel.text-2xl.text-green-300 Over one hundred flavors of

            .text-gray-50 Specifcally crafted tea
            

        +homeBtn(
            "/skills/index.html",
            "Explore",
            `outline outline-solid outline-green-500 
            outline-offset-2 text-xl px-10 py-4
            `
            
            ).  


main
    
    block main



footer.bg-gray-900.text-gray-50

    +sectionCenter("flex flex-col items-center gap-5")
        
        .flex.gap-4 
            a.transition.transform(
                href="#" 
                class="w-6 h-6 hover:text-green-500"
                ) 
                +facebook

            a.transition.transform(
                href="#" 
                class="w-6 h-6 hover:text-green-500"
                ) 
                +twitter
        
            a.transition.transform(
                href="#" 
                class="w-6 h-6 hover:text-green-500"
                ) 
                +instagram 

        .uppercase
            
            | &copy; 
            
            time#footer-date-time(datetime="2022") 2022
            
            span.text-green-300  tea station 
            
            | all rights reserved

    





